body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px !important; */
}
.fil-bancos {
  object-fit: contain;
}

.selected {
  --ion-background-color: #fff;
  /* border-top: 2px solid rgb(177, 172, 172); */
  border-right: 6px solid rgb(177, 172, 172);
  /* border-bottom: 1px solid rgb(177, 172, 172); */
}

.sep-tip-servicio {
  border: 0.5px solid rgb(161, 160, 160);
  border-radius: 300px/10px;
  height: 0px;
  text-align: center;
}

.nota-legal {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 10px;
  color: #666666;
  /* justify-content: space-between; */
  /* text-justify: auto; */
  text-align: justify;
  /* border: 1px solid #c7c3c7;
  box-sizing: content-box;
  margin-top: 8px;
  padding: 0px 15px 0px 15px;
  font-size: 12px;
  background: rgb(247, 248, 252);
  background: -webkit-linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  );
  background: linear-gradient(
    to top,
    #e2e2e2,
    rgb(218, 225, 250)
  ); */
}

.detalle {
  vertical-align: middle;
  font-size: 0.9em;
}

.features-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  /* background-image: linear-gradient(top, #fff, #eaeaea, #fff); */
  /* background-image: linear-gradient(to top, #fff, #eaeaea, #fff); */
}

.features-table td {
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

.features-table thead td {
  font: bold 1em "trebuchet MS", "Lucida Sans", Arial;
}

/* .features-table td:nth-child(1) {
  background: #e7f3d4;
  background: rgba(184, 243, 85, 0.3);
} */

.features-table td:nth-child {
  /* background: #efefef;
  background: rgba(171, 207, 241, 0.15);
  border-right: 1px solid white; */
  background: #fff;
  background: #fff;
  border-right: 1px solid white;
}

.features-table td:nth-child(3) {
  /* background: #dad9c5;
  background: rgba(206, 203, 63, 0.15);
  border-right: 1px solid white; */
  /* font-size: 20px; */
  font-weight: bold;
}

.ver-oculto {
  display: none;
}

.ver {
  display: block;
}

.pointer {
  cursor: pointer;
}

.tituloprincipal {
  font-weight: 500 !important;
}

.titulo-principal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: #666;
  color: #fff;
  margin: 0px 3px;
  padding: 3px 5px;
}

.des-servicio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* background: #666; */
  color: #666666;
  padding: 1px 2px;
  margin: 6px 10px 0px 10px;
  text-align: justify;
}

.label-filtro {
  padding-right: 10px;
}
